.no-list {
	list-style: none;
	padding: 0;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}
.error {
  color: red;
  font-weight: normal;
}
html, body {
  height: 100%;
}
body {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto; 
  background-color: #f8f8f8;
  font-family: 'Roboto', sans-serif;
}
.landing_page_bg {
  background: url(../images/cover_bg.jpg) repeat;
  background-size: cover;
}
.header_wrap {
  background: transparent;
  min-height: 86px;
}
.menu_toggle {
  margin: 20px 0 0 15px;
  float: left;
}
.logo {
  margin: 23px 0 0 15px;
  float: left;
  width:180px;
}
.header_nav {
  float: right;
  margin: 30px 20px 0 0;
}
.header_nav a {
  font-size: 18px;
  color: #383838;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px 10px;
  background-color: #fff;
}
.page_title {
  color: #fff;
  text-align: center;
}
.page_title h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 44px;
}
.page_title span {
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
}
.remove_padding {
  padding: 0;
}
.tabs_costom_wrap {
  margin: 20px 0;
}
.tabs_costom_content {
  background: #fff;
}
.room_thumb_wrap {
  margin: 20px 0;
  float: left;
}
.room_thumb_wrap img {
  margin: 9px;
  float: left;
}
.custom_nav_tabs li a {
  background: #f0f0f0;
  color: #000;
  font-size: 18px;
  border-radius: 0;
}
.custom_nav_tabs li a img {
  margin-right: 10px;
}
.custom_pagination_wrap {
  float: right;
  margin: 30px 25px 0 0;
}
.item { width: 10%; margin: 5px 1%; position: relative; }
.item.w2 { width: 14%; float: left;     padding-bottom: 105px;}
.item img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
/*.inner_page_bg {
  background: url(../images/room_bg.jpg) no-repeat;
  background-size: cover;
}*/
.custom_sidebar_tabs_wrap li {
  width: 25%;
  text-align: center;
  float: left;
  background-color: #f9f9f9;
  border-radius: 0;
}
.custom_sidebar_tabs_wrap li a {
  color: #000;
  text-align: center;
  float: left;
  width: 100%;
  border-radius: 0;
}
.custom_sidebar_tab_content {
  padding: 10px;
  /*min-height: 500px;
  overflow: scroll;*/
}
.custom_default_btn {
  background-color: transparent;
  border-radius: 0;
  border: 1px solid #3aa8a8;
  text-transform: uppercase;
  color: #3aa8a8;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  padding-top: 3px;
  padding-bottom: 3px;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}
.custom_default_btn:hover, .custom_default_btn:focus {
  background-color: #3aa8a8;
  color: #fff;
  border: 1px solid #3aa8a8;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}
.top_btns button {
  float: left;
  margin-bottom: 8px;
} 
.filter_thumbs {
  float: left;
}
.tiles-list {
  padding: 0;
  list-style: none;
}
.tile-wrap {
  display: inline-block;
  width: 33%;
  margin: 6px 0;
  padding: 0 3px;
}


.grout_color_box {
  float: left;
  
}
.grout_color_box span {
  float: left;
  margin: 6px 4px;
}
.color_box_1 {
  background-color: #000;
}
.color_box_2 {
  background-color: #d8d8d8;
}
.color_box_3 {
  background-color: #a78f75;
}
.color_box_4 {
  background-color: #932a0d;
}
.color_box_5 {
  background-color: #27810f;
}
.right_side_btns {
  position: absolute;
  right: 0;
  top: 50%;
  background-color: #fff;
  width: 50px;
  margin-top: -130px;
  border-radius: 6px 0 0 6px;
  border: 1px solid #ccc;
}
.right_side_btns a {
  width: 55px;
  height: 52px;
  float: left;
  padding: 9px 12px;
  border-bottom: 1px solid #3aa8a8;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}
.right_side_btns a:last-child {
  border: 0;
}
.right_side_btns a:hover {
  padding: 9px 6px;
  background-color: #ededed;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}
.custom_modal_header {
  background-color: #3aa8a8;
  color: #fff;
  border-radius: 0;
}
.custom_modal_title {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}
.custom_modal_btn {
  color: #fff;
  opacity: 1;
  font-size: 25px;
}
.filter_form label {
  text-align: left !important;
  font-family: 'UbuntuR' !important;
  font-size: 16px !important;
  font-weight: normal;
}
.gray_bg {
  background-color: #f9f9f9;
  padding: 20px 0;
}
.custom_primery_btn {
  background-color: #3aa8a8;
  border-radius: 0;
  border: 1px solid #3aa8a8;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  padding-top: 3px;
  padding-bottom: 3px;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}
.custom_primery_btn:hover, .custom_primery_btn:focus {
  background-color: #fff;
  color: #3aa8a8;
  border: 1px solid #3aa8a8;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}
.custome_modal_footer button {
  font-size: 14px;
}
.product_wrapper{
  margin: 15px 15px 0px 15px;
}
.product_wrapper .col-xs-9 p{
  margin: 0;
}
.product_header{
  /*text-align: center;*/
  color: #2071A0;
  font-size: 16px;
}
.selected_product_name{
  color:#BC211E;
  font-weight: bold;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.no_content{
  font-size: 16px;
  color:#666;
  font-weight: bold;
}
.right_toggle_btn{
  position: absolute;
  right: 0;
  /*background-color: #fff;*/
  /*border-right: 1px solid #3aa8a8;*/
  /*border-top: 1px solid #ccc;*/
  /*padding: 0px 2px 14px 5%;*/
  padding-left: 5%;
  width: 10%;
  margin-top: 84px;
  overflow: hidden;
}
#show_btn{
  display: none;
}
.prod-info-tabs{
  border-bottom: 2px solid #3aa8a8;
  font-size: 13px;
}
.prod-info-tabs li a{
  border: none;
  color: #3aa8a8;
}
.prod-info-tabs .active a{
  background-color: #3aa8a8 !important;
  color: #fff !important;
  padding-bottom: 9px !important;
}
#page {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.tabs-content-wrapper{
  overflow: hidden;
}
.stack-item {
  display: inline-block;
  margin: 5px 10px;
}
.share-link {
  width: 1.2em;
  height: 1.2em;
  line-height: 1.2em;
  margin: 0.2em 0.5em;
  font-size: 40px;
  color: white;
  border-radius: 5px;
}
.share-link, .share-link:hover, .share-link:focus {
  text-decoration: none;
  color: white;
}
.share-link.fa-facebook {
  background: #3a5795;
}
.share-link.fa-twitter {
  background: #55acee;
}
.share-link.fa-google-plus {
  background: #d73d32;
}

/*==================================
========= Home inline css ==========
===================================*/

.cnt223 a {
    text-decoration: none;
}

.popup {
    width: 100%;
    margin: 0 auto;
    display: none;
    position: fixed;
    z-index: 101;
}

.cnt223 {
    min-width: 600px;
    width: 600px;
    min-height: 150px;
    margin: 100px auto;
    background: #f3f3f3;
    position: relative;
    z-index: 103;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px #000;
}

.cnt223 p {
    clear: both;
    color: #555555;
    text-align: center;
    font-size: 17px;
}

.cnt223 p a {
    color: #d91900;
    font-weight: bold;
}

.cnt223 .x {
    float: right;
    height: 35px;
    left: 22px;
    position: relative;
    top: -25px;
    width: 34px;
}

.cnt223 .x:hover {
    cursor: pointer;
}


/* ================================================== */
	 /* #Media Queries */
/* ================================================== */

	@media only screen and (max-width: 1200px) {
	    .item { width: 12%; margin: 5px 2%; position: relative; }
      .item.w2 { width: 21%; height:100px}
      .grout_color_box{margin-bottom: 100px;}
  }

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 1024px) {
    .item { width: 15%; margin: 5px 2%; position: relative; }
    .item.w2 { width: 29%; height:110px;}
    .page_title h1 {
      font-size: 40px;
    }
    .page_title span {
      font-size: 22px;
    }
	}

  @media only screen and (max-width: 990px) {
   
  }
	
	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
    .custom_nav_tabs li a {
      font-size: 14px;
    }
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
    .item { width: 20%; margin: 5px 1.7%; position: relative; }
    .item.w2 { width: 29%; height:90px;}
    .header_nav {
      width: 100%;
      text-align: center;
      margin: 10px 0 0 0;
      background-color: #f9f9f9;
      border-top: 1px solid #ccc;
      padding: 2px 0;
    }
    .header_nav_xs{
      width: 90%;
      margin-top: 84px;
      display: none;
    }
    /*.right_toggle_btn{
      margin-top: 20px;
    }*/
    .page_title h1 {
      font-size: 38px;
    }
    .page_title span {
      font-size: 20px;
    }
    .custom_nav_tabs li a {
      font-size: 16px;
    }
    .right_side_btns {
      position: absolute;
      right: auto;
      top: 258px !important;
      width: 100%;
      border-radius: 0;
    }
    .right_side_btns a {
      width: 20%;
      text-align: center; 
      border-right: 1px solid #3aa8a8;
      border-bottom: 0;
    }
    .mobile_br_hide {
      display: none;
    }
    
    .grout_color_box{
      margin-bottom: 135px;
    }
    #myModal1, #myModal2, #myModal3{
      max-width: 327px;
      margin-top: 83px;
    }
	}

  @media only screen and (max-width: 634px) {
    .item { width: 36%; margin: 5px 5%; position: relative; }
    .item.w2 { width: 36%; height:90px;}
    .page_title h1 {
      font-size: 36px;
    }
    .logo {
      width: 30%;
	  margin-top:25px;
    }
    .page_title span {
      font-size: 18px;
    }
    .right_toggle_btn{
      padding-left: 4%;
    }
     .prod-info-tabs li a
    {
      padding-left: 6px !important;
      padding-right:6px !important;
      margin-right: 0px;
    }
    .custom_modal_dialog
    {
      width: 98% !important;
    }
    .custom_tab_content img
      {
        
        width: 77%;
      }
  }

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
    
	}

  @media only screen and (max-width: 540px) {
    .item { width: 50%; margin: 5px 20%; position: relative; }
    .item.w2 { width: 50%; }
    .page_title h1 {
      font-size: 30px;
    }
    .right_toggle_btn{
      padding-left: 3%;
    }
    .custom_tab_content img
      {
        float: none;
        clear: both;
        max-width: 80%;
        margin: auto;
      }
      .custom_tab_content .item
      {
        margin: 5px 25%;
      }
  }
	
  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {
   .right_toggle_btn{
      padding-left: 2%;
    }
  }

  @media only screen and (max-width: 445px) {
    .right_side_btns {
      top: 249px !important; 
    }
    /*.right_toggle_btn{
      margin-top: 0;
    }*/
    .header_nav_xs{
      margin-top: -14px;
    }
    .header_nav_xs a{
      margin: 0;
    }
    .right_toggle_btn{
      margin-top: -13px;
      padding-left: 1%;
    }
  }
  /* Small Mobile devices */
  @media only screen and (max-width: 385px){
    .right_toggle_btn{
      padding-left: 0px;
    }
    .prod-info-tabs li{
      width: 100%;
    }
     .custom_tab_content img
      {
       max-width: 100%;
       width: 100%;
      }
  }
	@media only screen and (max-width: 350px) {
    .cbp-spmenu-vertical {
      width: 280px !important;
    }
    
    
	}
	
	/* Very Small Mobile devices */
	@media only screen and (max-width: 280px) {
		 
	}
  #home{
    max-height: 250px;
  }

  #page
  {
    position: fixed;
    z-index: 101;
    height: auto;
  }
 #inverted-contain
  { 
            height: 100%;
            width: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            position: absolute;
            z-index: 100;
        }
        .panzoom-parent
        {
          width: 100%;
           
        }
         .panzoom
         {
          width: 100%;
          height: 100%;
         }
         .custom_modal_dialog
         {
          width: 80%;
          margin:30px auto;
         }
         body.modal-open
        {
          overflow: visible;
        }
        .js div#preloader 
        {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 999; 
        width: 100%; 
        height: 100%; 
        overflow: visible; 
        background: #333 url('../images/loading.gif') no-repeat center center; 
        text-align: center;
        padding-top: 35%;
        color: #fff;
        }
        .js div#preloader2 
        {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 999; 
        width: 100%; 
        height: 100%; 
        overflow: visible; 
        background: #333 url('../images/loading.gif') no-repeat center center; 
        text-align: center;
        color: #fff;
        }

  @media only screen and (min-width: 768px) {

      .panzoom
        {

          -webkit-transform: none !important;

         transform: none !important;
         width: 100%;
         float: left; 
         height: auto;
         cursor: default !important;

        }
    }

